.footer-backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  transition: opacity 500ms linear, visibility 500ms linear;
}

.footer-modal {
  background-color: white;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  @media screen and (min-width: 320px) {
    width: 280px;
    min-height: 540px;
    padding: 48px 20px 40px 20px;
  }

  @media screen and (min-width: 768px) {
    width: 704px;
    min-height: 552px;
    padding: 40px 72px 40px 36px;
    display: flex;
  }

  @media screen and (min-width: 1024px) {
    width: 814px;
    min-height: 558px;
    padding: 40px 16px;
    display: flex;
  }
}
