.gallery{
   padding-top: 60px;
   padding-bottom: 50px;
    max-width: 1024px;
    margin: 0 auto;
}

.gallery__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    @media screen and (min-width: 768px) {
        margin-left: -30px;
        margin-bottom: -30px;
    }
    
    // margin-left: -16px;
    // margin-bottom: -32px;
    // margin-left: -30px;
    // margin-bottom: -30px;
}

.gallery__card{
    // flex-basis: calc(100% - 20px);
    @media screen and (min-width: 768px) {
        flex-basis: calc(100%/2 - 30px);
        margin-left: 30px;
        margin-bottom: 30px;
    }
    @media screen and (min-width: 1024px) {
        flex-basis: calc(100%/3 - 30px);
        // flex-shrink:0;
        
    }
        
}

.gallery__thumb{
    margin-top: 8px;
}

.gallery__name{
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    text-transform: uppercase;
    
    color: #000000;
}

.gallery__description{
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    
    color: #FF6B08;
}
