
.header{
  // max-width: 1024px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 60px;

  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
  url("../images/header-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.header__nav{
  display: flex;
  justify-content: space-between;
}
.header__logo{
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  display: flex;
  align-items: center;
  text-align: center;
  
  color: #FFFFFF;
}

.header__icon{
  margin-right: 10px;
}

.header__list{
  display: flex;
}
.header__item{
  margin-left: 40px;

  
}

.header__btn{
  background-color: transparent;
  border: none;

  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */
  
  // display: flex;
  // align-items: center;
  // text-align: center;
  text-transform: uppercase;
  
  color: #FFFFFF;
}

.header__form{
  margin-bottom: 0;
  margin-top: 47px;

  display: flex;
 justify-content: center;


}

 .form__label{
   position: relative;
 }
 
 .input-error {
   display: none;
 }

 .input-error-active {
  color: red;
  position: absolute;
  top: 35px;
  left: 65px;
  display: block;
 }

.form__input{
  background-color: transparent;
  border: none;
  border-bottom: 0.5px solid #818181;
  width: 336px;
  color: #FFFFFF;
}

// .form__input:active{
//   background-color: transparent;
//   border: none;
//   border-bottom: 0.5px solid #818181;
// }


.form__input::placeholder{
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  display: flex;
  align-items: center;
  
  color: #FFFFFF;
}

.form__btn {
  background-color: transparent;
  border: none;
  
  padding: 0;
  line-height: 0;
  position: relative;
  bottom: 0;
  right: 13px;
  
}

// .form__icon{
//   line-height: 0;
  
// }

.form__input:focus-within  {
  outline: none;
  border: none;
  border-bottom: 0.5px solid #818181;
}
.header__name {
  @media screen and (max-width: 767px) {
    display:none;
    position: absolute;
  }
}